@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing-effect::after {
  content: "";
  border-right: 2px solid black;
  animation: blink 0.75s step-end infinite;
}

.typing-effect.completed::after {
  animation: none;
  border-right: none;
}
