video {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}

.stream-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  flex: 1;
}

.stream-container .absolute {
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
}

.stream-container .nickname-label {
  top: 10px;
  left: 10px;
}

.stream-container .end-call-button {
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.group:hover .end-call-button {
  opacity: 1;
}

@media (max-width: 768px) {
  .stream-container {
    width: 100%;
  }
}
